.card {
  width: 30%;
  min-height: 140px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.14);
  transition: 0.4s;
  cursor: pointer;
}

.card--toggled {
  transform: rotateY(360deg) scale(1.1);
  transition: 0.4s;
}

.card--removed {
  opacity: 0;
}

.card__img {
  max-width: 80px;
}

.card .card__img {
  opacity: 0;
  transition: 0.2s;
}

.card--toggled .card__img {
  opacity: 1;
  transition: 0.2s;
}